In [2]:
#Import required
import pandas as pd
import numpy as np

In [3]:
#Empty series
s = pd.Series()
print(s)

Series([], dtype: float64)

In [5]:
#Series from an array
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[101,102,137,106])
print(s)

101    a
102    b
137    c
106    d
dtype: object

In [6]:
#Creating series using dictionary
data = {'a':0.,'b':1.,'c':2.,'d':3.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    3.0
a    0.0
dtype: float64

In [8]:
#Series from scalar values
s = pd.Series(5,index=[10,12,13,16])
print(s)

10    5
12    5
13    5
16    5
dtype: int64

In [9]:
#Accessing Data
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

#retrieve first element
print(s[0])

#retreive a single element
print(s['a'])

#retreive first three elements
print(s[:3])

#retreive multiple elements
print(s[['a','c','d']])

1
1
a    1
b    2
c    3
dtype: int64
a    1
c    3
d    4
dtype: int64

In [11]:
#DataFrames
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
#Data frame using list
data = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [19]:
#Data frame two columns
data = [['Alex',10],['Bob','12'],['Clark',11]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

    Name Age
0   Alex  10
1    Bob  12
2  Clark  11

In [20]:
#Data frame giving float values
data = [['Alex',10],['Bob','12'],['Clark',11]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

    Name   Age
0   Alex  10.0
1    Bob  12.0
2  Clark  11.0

In [21]:
#Data frame using dictionary
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,25,26,21]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   25
2  Steve   26
3  Ricky   21

In [22]:
#Creating index
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,25,26,21]}
df = pd.DataFrame(data, index=['r1','r2','r3','r4'])
print(df)

     Name  Age
r1    Tom   28
r2   Jack   25
r3  Steve   26
r4  Ricky   21

In [24]:
#Data frame using multiple dictionaries
#understanding NaN
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [29]:
#DataFrame from series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),'two' : pd.Series([1, 2, 3, 4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [30]:
#Selecting a column
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [32]:
#Add third column
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [33]:
#Delete a column
print("Deleting a column:")
del df['three']
print(df)

Deleting a column:
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [35]:
#Selecting row from data
print(df.iloc[2])
#print(df.iloc['b'])
#will give error as iloc indicate index location so write print(df.loc['b'])
print(df.loc['b'])

one    3.0
two    3.0
Name: c, dtype: float64
one    2.0
two    2.0
Name: b, dtype: float64

In [36]:
#Slicing
df =pd.DataFrame(d)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [37]:
#Slicing
df =pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [39]:
#Adding rows
df2 = pd.DataFrame([[5,6],[7,8]],columns=['one','two'])
df = df.append(df2)
print(df)
#try changing 'a' and 'b' with 'one' and 'two'

     a    b  one  two
a  NaN  NaN  1.0  1.0
b  NaN  NaN  2.0  2.0
c  NaN  NaN  3.0  3.0
d  NaN  NaN  NaN  4.0
0  5.0  6.0  NaN  NaN
1  7.0  8.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

In [40]:
#Deleting row
df = df.drop('a')
print(df)

     a    b  one  two
b  NaN  NaN  2.0  2.0
c  NaN  NaN  3.0  3.0
d  NaN  NaN  NaN  4.0
0  5.0  6.0  NaN  NaN
1  7.0  8.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0