In [7]:
#Q1./Q3.
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dicr = {}
dicr.update(dic1)
dicr.update(dic2)
dicr.update(dic3)
print(dicr)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
#Q2.
dic1 = {}
for i in range (1,16):
    dic1[i] = i**2
print(dic1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [10]:
#Q1.
se1 = {"apple", "banana", "cherry"}
se2 = {"cherry", "microsoft", "apple"}
ser = se1.intersection(se2)
print(ser)

{'cherry', 'apple'}

In [11]:
#Q2.
se1 = {"apple", "banana", "cherry"}
se2 = {"cherry", "microsoft", "apple"}
ser = se1.union(se2)
print(ser)

{'microsoft', 'cherry', 'banana', 'apple'}

In [12]:
#Q3.
se1 = {"apple", "banana", "cherry"}
se1.clear()
print(se1)

set()

In [15]:
#Q4.
se1 = {"a", "b", "c"}
se2 = {"f", "e", "d", "c", "b", "a"}
ser1 = se1.issubset(se2)
ser2 = se1.issuperset(se2)
print(ser1) 
print(ser2)

True
False

In [17]:
#Q5.
se1 = {"apple", "banana", "cherry"}
se2 = {"google", "microsoft", "apple"}
ser = se1.difference(se2)
print(ser)

{'cherry', 'banana'}

In [18]:
#Q6.
se1 = {"apple", "banana", "cherry"}
se2 = {"google", "microsoft", "apple"}
ser = se1.symmetric_difference(se2)
print(ser)

{'microsoft', 'google', 'cherry', 'banana'}