In [1]:
#Q01.
atuple = ("apple", "banana", "cherry")
print(atuple)

('apple', 'banana', 'cherry')

In [2]:
#Q02.
tup1 = ("physics", "chemistry",1991,1928)
print(tup1)

('physics', 'chemistry', 1991, 1928)

In [3]:
#Q03. 
tup1 = (10, 20, 30, 40, 50)
print(tup1[3])

40

In [4]:
#Q04.
tup1 = (1,2,'apple','mango',2.32,24.6)
tup2 = tup1[0:2]
print(tup2)
tup3 = tup1[2:4]
print(tup3)
tup4 = tup1[4: ]
print(tup4)

(1, 2)
('apple', 'mango')
(2.32, 24.6)

In [8]:
#Q05.
tup1 = ('apple', 'banana', 'cherry', 'orange')
tup2 = ('mango','guava')
print(tup1 + tup2)

('apple', 'banana', 'cherry', 'orange', 'mango', 'guava')

In [9]:
#Q06.
import functools 
import operator  
  
def convertTuple(tup): 
    str = functools.reduce(operator.add, (tup)) 
    return str

atuple = ('g', 'a', 'm', 'e', 's') 
astr = convertTuple(atuple) 
print(astr)

games

In [10]:
#Q07.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
print(tup1[3])
print(tup1[-4])

orange
cherry

In [11]:
#Q08.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
for i in tup1:
    print(i)

apple
banana
cherry
orange
mango
guava

In [12]:
#Q09.
tup1 = (2, 4, 5, 6, 2, 3, 4, 4, 7) 
count = tup1.count(4)
print(count)

3

In [13]:
#Q10.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
if 'apple' in tup1:
    print("Yes")

Yes

In [15]:
#Q11.
lst1 = ['apple', 'banana', 'cherry', 'orange','mango','guava']
tup1 = tuple(lst1)
print(tup1)

('apple', 'banana', 'cherry', 'orange', 'mango', 'guava')

In [16]:
#Q12.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
lst1 = list(lst1)
lst1.remove("banana")
tup1 = tuple(lst1)
print(tup1)

('apple', 'cherry', 'orange', 'mango', 'guava')

In [18]:
#Q13.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
print(tup1[2:5])

('cherry', 'orange', 'mango')

In [19]:
#Q14.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
print(tup1.index('orange'))

3

In [20]:
#Q15.
tup1 = ('apple', 'banana', 'cherry', 'orange','mango','guava')
print(len(tup1))

6