In [1]:
#Q1.
lst1 = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in lst1:
    sum = sum + i
print(sum)

45

In [2]:
#Q2.
lst1 = [1,2,3,4,5]
pro = 1
for i in lst1:
    pro = pro * i
print(pro)

120

In [9]:
#Q3.
lst1 = [1,2,533,3577,3,4,5,6,7,8,9,123,45]
lst1.sort()
print("Largest number is:-")
print(lst1[-1])

Largest number is:-
3577

In [10]:
#Q4.
lst1 = [1,2,533,3577,3,4,5,6,7,8,9,123,45]
lst1.sort()
print("Smallest Niumber is:-")
print(lst1[0])

Smallest Niumber is:-
1

In [14]:
#Q5.
lst1 = ['abc','xyz','aba','1221']
c = 0
for i in lst1:
    if len(i)  > 2 and i[0] == i[-1]:
        c = c + 1
print(c)

2

In [20]:
#Q6.
def myFunc(e):
    return e[-1]

lst1 = [(2,5),(1,2),(4,4),(2,3),(2,1)]
lst1.sort(key = myFunc)
print(lst1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [51]:
#Q7.
lst1 = [1,23,4,3,3,25,15,52,4,2,43,1,3]
lst2 = []
for i in lst1:
    if i not in lst2:
        lst2.append(i)
lst1.clear()
lst1 = lst2.copy()
print(lst1)

[1, 23, 4, 3, 25, 15, 52, 2, 43]

In [33]:
#Q8.
lst1 = list(input("Enter a list:-  "))
if len(lst1) == 0:
    print("List is empty.")
else:
    print("List is not empty.")

Enter a list:-
List is empty.

In [37]:
#Q9.
lst1 = [1,23,4,3,3,25,15,52,4,2,43,1,3]
lst2 = lst1.copy()
print(lst2)

[1, 23, 4, 3, 3, 25, 15, 52, 4, 2, 43, 1, 3]

In [41]:
#Q10.
lst1 = ['apple','mango','pear','banana','orange']
for i in lst1:
    if len(i) > 5:
        print(i)

banana
orange

In [49]:
#Q11.
lst1 = [3,142,5,252,5,25,2552,2,452]
lst2 = [41,422,2,53,34,3,4]
k = 0
for i in lst1:
    b = i
    for j in lst2:
        if j == i:
            k = k + 1
if k > 0:
    print("True")

True

In [48]:
#Q12.
lst1 = ['red','green','white','black','pink','yellow']
lst1.remove('red')
lst1.remove('pink')
lst1.remove('yellow')
print(lst1)

['green', 'white', 'black']